{% extends 'core/base.html' %}

{% block title %} Update Data{% endblock %}

{% block content %}
<div class = "container mt-5 mb-5">
    <div class = "row">
        <div class = "col-lg-3 col-md-3 col-sm-0"></div>
        <div class = "col-lg-6 col-md-6 col-sm-12">
            <div class="card mt-5 mb-5">
                <div class="card-header bg-secondary">
                    <h2 class = "card-title text-light">Update Person Data<h2>
                </div>
                <div class="card-body">
                    <form class = "form" method="POST" action="{% url 'edit_person_save' %}"> {% csrf_token %}

                        <div class="input-group mb-5">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-address-card fa-2x"></i></span>
                            <input type="text" class="form-control" disabled aria-describedby="basic-addon1" value="{{person.person_id}}">
                            <input type="hidden" name="person_id" value="{{person.person_id}}">
                        </div>

                        <div class="input-group mb-5">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user fa-2x"></i></span>
                            <input type="text" name="name" class="form-control" required placeholder="Full Name" aria-label="name" aria-describedby="basic-addon1" value="{{person.full_name}}">
                            <input type="hidden" name="person_id" value="{{person.person_id}}">
                        </div>

                        <div class="input-group mb-5">
                            <span class="input-group-text" id="basic-addon2"><i class="fa-solid fa-people-arrows-left-right fa-2x"></i></span>
                            <select class = "form-control" name="type" required>
                            {% for choice in choices %}
                                <option {% if person.type == choice %} selected {% endif %}> {{choice}} </option>
                            {% endfor %}
                            </select>
                        </div>

                        <div class="input-group mb-5">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-car fa-2x"></i></span>
                            <input type="text" name="car_model_name" class="form-control" required placeholder="Car Model Name" value="{{person.car_model_name}}" aria-label="car_model_name" aria-describedby="basic-addon1">
                        </div>

                        <div class="input-group mb-5">
                            <span id="car_number_id" class="input-group-text" id="basic-addon1"><i class="fa-solid fa-arrow-down-1-9 fa-2x"></i></span>
                            <input type="text" name="car_number" id="car_number" class="form-control" required placeholder="Car Number" value="{{person.car_number}}" aria-label="car_number" aria-describedby="basic-addon1">
                        </div>

                        <div class="input-group mb-5">
                            <span class="input-group-text" id="basic-addon2"><i class="fa-solid fa-torii-gate fa-2x"></i></span>
                            <select class = "form-control" name="gate" required>
                            {% for gate in gates %}
                                <option value="{{gate.id}}" {% if person.gate_id.id == gate.id %} selected {% endif %}> {{gate.gate_name}}</option>
                            {% endfor %}
                            </select>
                        </div>

                        <div class="input-group mb-5">
                            <span class="input-group-text" id="basic-addon2"><i class="fa-solid fa-address-card fa-2x"></i></span>
                            <select class = "form-control" name="employee" disabled>
                            {% for employee in employees %}
                                <option {% if person.registered_by == employee.id %} selected {% endif %}>{{employee.user_id.username}}</option>
                            {% endfor %}
                            </select>
                        </div>

                        <div class="input-group mb-4">
                            <button type="submit" style="width:100%" role="submit" class="btn btn-secondary btn-md">Update Person Data</button>
                        </div>

                        <div class = "form-group">
                            {% if messages %}
                                <div class = "col-12"> 
                                    {% for message in messages %}
                                        {% if message.tags == 'error' %}
                                            <div style = "margin-top:10px;" class = "alert alert-danger"> 
                                                {{ message }}
                                            </div>
                                        {% endif %}
                                        {% if message.tags == 'success' %}
                                            <div style = "margin-top:10px;" class = "alert alert-success"> 
                                                {{ message }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %} 
                        </div>
                    </form>
                </div>
            </div> 
        </div>
    </div>
</div>
{% endblock %}

{% block custom_scripts %} 
<script> 
  $(document).ready(function(){
      $("#car_number").keyup(function(){
        var car_number =  $(this).val();
        if(car_number != ""){
            $.ajax({
                url:"{% url 'check_car_number' %}",
                type:"POST",
                data:{car_number:car_number}
            })
            .done(function(response){
                if(response == "True"){
                    $(".email-error").remove()
                    $("<span class = 'email-error' style = 'padding:6px; color:red; font-weight:bold;'> invalid❌</span>").insertAfter("#car_number")
                } else {
                    $(".email-error").remove()
                    $("<span class = 'email-error' style = 'padding:6px; color:green; font-weight:bold;'> valid✅</span>").insertAfter("#car_number")
                }
            })
            .fail(function(){
                console.log("Failed")
            })
          } else{
              $(".email-error").remove()
          }
        })
  
    })
</script>
{% endblock custom_scripts %}
              